/* Styles globaux */
body {
    font-family: 'Rajdhani', 'Barlow', Arial, sans-serif;
    background-color: #F2F2F2;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Barre de navigation */
.navbar {
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 0px 0px 30px 30px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1; /* Assurez-vous que la barre de navigation est au premier plan */
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1); /* Légère ombre pour la profondeur */
}

.navbar .navbar-brand {
    padding: 0;
    margin: 0;
}

.navbar .navbar-brand img {
    width: 50px; /* Largeur du logo */
}

.navbar-brand {
    color: #D92332;
    font-size: 24px;
    font-weight: bold;
}

.navbar-nav .nav-link {
    color: #1c1b1b; /* Couleur du texte des liens */
    font-size: 16px;
    text-decoration: none;
}

.navbar-nav .nav-link:hover {
    color: #1c1b1b; /* Couleur du texte des liens au survol */
    text-decoration: underline;
}

.fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* La barre de navigation doit être au-dessus du contenu */
}

/* Styles pour le bouton hamburger */
.navbar-toggler-icon {
    background-color: #f2f2f200; /* Couleur de l'icône hamburger */
}

.navbar-toggler {
    border: none; /* Supprime la bordure du bouton hamburger */
}

/* Changement de couleur du bouton hamburger au survol */
.navbar-toggler:hover .navbar-toggler-icon {
    background-color: #1c1b1b76;
    border-radius: 10px;
}

/* Carrousel d'images */
#bannerCarousel {
    background-color: #F2F2F2;
    z-index: 0;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.439);
    border-radius: 10px;
    color: #F2F2F2;
    margin-bottom: 10px;
}

.carousel-caption h5,
.carousel-caption p {
    font-weight: bold;
}

.carousel-indicators {
    z-index: 1; /* Assurez-vous que les indicateurs sont au-dessus du carrousel */
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.carousel-indicators button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none;
    margin: 0 5px;
    background-color: #f8f4f4; /* Couleur par défaut des indicateurs */
    opacity: 0.5; /* Opacité par défaut des indicateurs */
}

.carousel-indicators button.active {
    background-color: #D92332; /* Couleur de fond de l'indicateur actif */
    opacity: 1; /* Opacité de l'indicateur actif */
}

/* Styles pour la Section Services */

.item-wrapper {
    zoom: 1;
}

.item-wrapper {
    transform: scale(1);
    transform-origin: 0 0;
}


#services {
    background-color: #FFFFFF;
    padding-top: 50px; /* Ajustement de l'espacement en haut de la section */
}

#services h2 {
    color: #D92332;
    text-align: center;
    margin-bottom: 30px;
}

.services-carousel {
    margin-top: 30px; /* Ajouter un espace en haut du carousel */
}

.service-card {
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Ombre légère pour donner du volume aux cards */
    transition: transform 0.3s;
    margin: 0 10px;
}

.service-card:hover {
    transform: scale(1.05);
}

.service-card-title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
}

.service-card-text {
    font-size: 16px;
    margin-top: 10px;
}


/* Section Véhicules d'Occasion */
#vehicles {
    padding-top: 50px; /* Ajustement de l'espacement en haut de la section */
}

.card {
    border: none;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.card-title {
    font-size: 24px;
    font-weight: bold;
}

.card-text {
    font-size: 16px;
}

/* Section Contact */
#contact {
    padding-top: 50px; /* Ajustement de l'espacement en haut de la section */
}

.form-group label {
    font-weight: bold;
}

.btn-primary {
    background-color: #D92332;
    border: none;
    font-size: 18px;
    padding: 10px 20px;
}

/* Pied de page */
.footer {
    background-color: #D92332;
    color: #F2F2F2;
    padding: 20px 0;
    text-align: center;
}

/* Médias queries pour la réactivité */
@media (max-width: 768px) {
    .navbar {
        border-radius: 0;
    }

    .jumbotron {
        padding: 100px 0;
    }

    .jumbotron h1 {
        font-size: 28px;
    }

    .jumbotron p {
        font-size: 18px;
    }
}
